# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Environment variables
.env

# Data
data/
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/

# Notebook checkpoints
.ipynb_checkpoints

# Arquivos de compilação do LaTeX (Ignorar)
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.xdv